.background {
  viewport-fill:	black;
}

#date {
  font-size: 40;
  font-family: Tungsten-Medium;
  text-length: 8;
  text-anchor: middle;
  x: 50%;
  y: 20%;
  fill: white;
}

.clock {
  font-size: 180;
  font-family: Tungsten-Medium;
  text-length: 4;
  y: 50%+60;
}

#hour {
  text-anchor: end;
  fill: white;
  x: 50%-5;
}

#minute {
  text-anchor: start;
  fill: red;
  x: 50%+5;
}

.icon {
  width: 24;
  height: 24;
}

.stats-label {
  font-size: 30;
  font-family: Tungsten-Medium;
  text-length: 8;
  fill: white;
}

#heart-rate {
  text-anchor: start;
  x: 50%+5;
  y: 85%;
}

.heart-icon{
  fill: red;
  x: 50%-25;
  y: 85%-24;
}

.activity-label{
  text-anchor: start;
  x: 18%;
  y: 85%;
}

.activity-icon{
  fill: white;
  x: 18%-30;
  y: 85%-24;
}

#battery {
  text-anchor: start;
  x: 75%;
  y: 85%;
}

#battery-icon {
  fill: white;
  x: 75%-24;
  y: 85%-24;
}

#activity-cycle-button {
  opacity: 0;
}